<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <title>Web Academy</title>
</head>
<body>
    <div id="app">
        <header>
            <button v-on:click="checkout">checkout</button>
        </header>
        <main>
            <section id="subject_page" v-if="can_showSubjects">
                <h2>Subjects page</h2>
                <div id="container">
                    <div id="filters">

                    </div>
                    <div id="subjects">
                        <div class="subject" v-for="subject in subjects">
                            <div style="width: 100%; display: inline-flex; align-items: center;">
                                <div class="info_container">
                                    <p>Subject: {{subject.lesson}}</p>
                                    <p>Location: {{subject.location}}</p>
                                    <p>Price: £{{subject.price}}</p>
                                    <p>Spaces: {{subject.spaces}}</p>
                                </div>
                                <figure>
                                    <img class="image" v-bind:src="subject.image">
                                </figure>
                            </div>
                            <button v-if="subject.spaces > 0" v-on:click="addToCart(subject)">Add To Cart</button>
                            <button v-else disabled>Add To Cart</button>
                        </div>
                        
                    </div>
                </div>
            </section>
            <section id="cart_page" v-else>
    
            </section>
        </main>
    </div>
</body>
<script src="subjects.js"></script>
<script>
    var app = new Vue({
        el:"#app",
        computed:{
            can_showSubjects(){
                return this.showSubjects
            }
        },
        methods:{
            addToCart(){

            },
            checkout(){
                this.showSubjects = this.showSubjects ? false : true
            }
        },
        data:{
            sitename:"Web Academy",
            showSubjects:true,
            subjects:[...subjects]
        }
    })
</script>
</html>